body {
    margin: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.wrapper {
    text-align: center;
    background-color: cadetblue;
    padding: 80px 40px 40px 40px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
}
#result {
    margin-top: 40px;
}
label {
    color: #fff;
}
#submit,
#inputAmount {
    background: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
}
*:focus {
    box-shadow: none;
    border: none;
    outline: none;
}
*:hover {
    cursor: pointer;
}
