body {
    margin: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.wrapper {
    text-align: center;
    background-color: darkseagreen;
    padding: 80px 40px 40px 40px;
    width: 500px;
    min-height: 150px;
    border-radius: 5px;
}

#result {
    margin: 40px;
    text-align: left !important;
    padding-left: 22px;
}

#result p {
    margin: 8px;
}

#result span {
    display: inline-block;
}

.github-id {
    width: 100px;
}

img {
    width: 30px;
    border-radius: 50%;
    position: relative;
    bottom: -10px;
    margin: 0;
    padding: 0 8px;
}

label {
    color: #fff;
}

#submit,
#inputUser {
    background: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
}

*:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

*:hover {
    cursor: pointer;
}
